doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  h1 this is the header
  ul
    li: a(href="/") Home
    li: a(href="/about") About us
    li: a(href="/contact") Contact
  hr
  block content
  hr
  h1 this is the footer
  ul
    li: a(href="/") Home
    li: a(href="/about") About us
    li: a(href="/contact") Contact